@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './github-markdown-css.css';

.link {
    @apply text-blue-500 hover:text-yellow-600 focus:text-yellow-500;
}

.form-control {
    @apply border-gray-300 disabled:bg-opacity-50 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm;
}
.btn {
    @apply inline-flex items-center px-4 py-2 rounded-md font-semibold text-xs uppercase tracking-widest transition ease-in-out duration-150;
}

.btn-dark {
    @apply btn text-white bg-gray-800 hover:bg-gray-700 active:bg-gray-900 focus:border-gray-500;
}
.btn-white {
    @apply btn border bg-white active:bg-gray-100 focus:border-blue-300;
}
.btn-danger {
    @apply btn text-white bg-red-700 hover:bg-red-600 active:bg-red-800 focus:border-red-800;
}
.btn-primary {
    @apply btn text-white bg-blue-700 hover:bg-blue-600 active:bg-blue-800 focus:border-blue-800;
}
.btn-success {
    @apply btn text-white bg-green-700 hover:bg-green-600 active:bg-green-800 focus:border-green-800;
}
/*==================================
 * animation
==================================*/
@layer utilities {
    .animation-delay-100 {
      animation-delay: 0.1s;
    }
    .animation-delay-200 {
      animation-delay: 0.2s;
    }
    .animation-delay-400 {
      animation-delay: 0.4s;
    }
  }
/*==================================
 * github-markdown-css
==================================*/

.markdown-body blockquote, .markdown-body dl, .markdown-body ol, 
.markdown-body p, .markdown-body pre, .markdown-body table, 
.markdown-body ul {
    margin-bottom: .8rem;
}
.markdown-body {
    word-break: break-word;
}
.markdown-body p {
    font-size: .95rem;
    line-height: 1.6;
    white-space: pre-wrap;
}
.markdown-body ul {
    list-style-type: disc; 
}
.markdown-body ol {
    list-style-type: decimal;
}
.markdown-body pre code {
    line-height: 1.6;
}